/* .waitingListContainer {
	background: white;
	border: 10px solid black;
}

.waitingListTitle {
	text-align: center;
	padding-top: 55px;
}

.weekDaysButtons {
	margin-left: 10%;
	border: 1px solid black;
} */
