html {
  height: 100%;
  box-sizing: border-box;
}


body {
  background-image: url(/images/coolbackground.jpg);
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Baloo', cursive;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom:60px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}