.card-body {
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	/* padding: 15px; */
	/* margin-bottom: 20px; */
}

.petAddBtn {
	border: 3px solid white;
	font-size: 30px;
	margin-top: 20px;
	width: 100%;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.goBackToControlPanelLink {
	font-size: 25px;
	color: white;
}

.goBackToControlPanelBtn {
	font-size: 25px;
	width: 100%;
	color: white;
	background: #0f2027;
	margin-bottom: 20px;
}

.petsListTitle {
	text-align: center;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-top: 20px;
	font-size: 40px;
}

.updateClientTitleForm {
	text-align: center;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 35px;
	margin-bottom: 20px;
}

.noPetsYetTitle {
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	margin-top: 20px;
	font-size: 25px;
}

.petEditBtn,
.addCommentBtn {
	margin-top: 20px;
	width: 100%;
}

.petNameCommentsForm {
	background: rgb(37, 59, 100);
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.notesHistoryTitle {
	font-size: 35px;
	width: 100%;
	text-align: center;
	/* margin-left: 50%;
	margin-right: 50%; */
}

.addCommentForm {
	background: rgb(247, 232, 190);
	padding: 20px;
}

.petCommentBtn,
.petUpdateBtn,
.petDeleteBtn {
	margin-top: 20px;
	margin-right: 5px;
	width: 31%;
	border: 3px solid white;
	/* display: inline-block; */
}

.titleComments {
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 360px) {
	.petCommentBtn,
	.petUpdateBtn,
	.petDeleteBtn {
		margin-top: 10px;
		width: 100%;
		border: 3px solid white;
	}
}
