.galleryBox {
	background: rgba(31, 83, 117, 0.329);
	border: 3px solid black;
	margin-bottom: 30px;
	height: 100%;
	/* padding: 20px;
	margin-bottom: 100px; */
}

.galleryTitle {
	margin-top: 25px;
	font-size: 60px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
}

.galleryTitles {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.card-body {
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	/* padding: 15px; */
	/* margin-bottom: 20px; */
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.picGroup1 {
	text-align: center;
	grid-column: 1;
}

.picGroup {
	text-align: center;
}

@media (max-width: 360px) {
	.galleryImages {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.galleryTitle {
		margin-top: 25px;
		font-size: 35px;
	}

	.galleryBox {
		margin-top: 30px;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.galleryTitles {
		margin-top: 15px;
		font-size: 25px;
	}

	.phoneEverywhere {
		position: fixed;
		display: flex;
		background: white;
		font-size: 25px;
		z-index: 99;
		top: 0;
		margin-top: 60px;
		margin-left: 130px;
		margin-right: 15px;
		padding-left: 10px;
		padding-top: 10px;
		width: 100%;
	}
}

@media (max-width: 992px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-gap: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
