.galleryBox {
    background: rgba(31, 83, 117, 0.329);
    padding: 20px;
    margin-bottom: 100px;
}

@media (max-width: 360px) {
    .galleryImages {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .galleryTitles {
        margin-top: 15px;
    }

    .phoneEverywhere {
        position: fixed;
        display: flex;
        background: white;
        font-size: 25px;
        z-index: 99;
        top: 0;
        margin-top: 60px;
        margin-left: 130px;
        margin-right: 15px;
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
      
    }
}