.logoHome {
    margin-left: 2%;
    width: 10%;
    position: fixed;
    /* z-index:1000 */
}

.phoneEverywhere {
    position: absolute;
    display: none;
}

.phoneTabletSize {
    display: flex;
    float: right;
    padding: 4px;
    position: fixed;
    margin-top: 100px;
    margin-left: 15px;
    color: white;
    background:rgba(0,0,0,0.5);
}

.perroygatoHome {
    margin-top: -50px;
    margin-bottom: 50px;
}

.titleHome {
    background:rgba(0,0,0,0.1);
    text-align: center;
    color: rgb(7, 25, 65);
    text-shadow: -1px 0 rgb(252, 252, 252), 0 1px rgb(252, 250, 250), 1px 0 rgb(248, 246, 246), 0 -1px rgb(255, 254, 254);

}

.pawHome {
    font-size: 40px;
    margin: 25px;
}

.googleRev {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.perroygatoHome {
    width: 100%;
    height: auto;
}

.mobile1, .mobileTitle{
    display: none;
}

@media (max-width: 1500px) {
    .phoneTabletSize {
        color: white;
        background:rgba(0,0,0,0.5);
        position: fixed;
        display: flex;
        font-size: 25px;
        z-index: 99;
        top: 0;
        margin-top: 205px;
        padding-left: 10px;
        padding-top: 10px;
        width: 14%;
    }
    .logoHome {
        width:13%;
        height: auto;
        margin-left: 2%;
        margin-bottom: 20px;
        position: fixed;
        z-index: 1000;
        margin-top: 0px;
    }
}



@media (max-width: 1370px) {
    .phoneTabletSize {
        color: white;
        background:rgba(0,0,0,0.5);
        position: fixed;
        display: flex;
        font-size: 25px;
        z-index: 99;
        top: 0;
        margin-top: 60px;
        margin-left: 78%;
        padding-left: 10px;
        padding-top: 10px;
        width: 30%;
      
    }
    .logoHome {
        width:20%;
        height: auto;
        margin-left: 10%;
        margin-bottom: 20px;
        position: relative;
        margin-top: 10px;
    }

    .titleHome {
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .pawHome {
        display: none;
    }

    .homeBox {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .phoneTabletSize {
        margin-left: 30%;
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
    }

    .googleRev {
        display: none;
    }

    .logoHome {
        width:20%;
        height: auto;
        margin-left: 5%;
        margin-right: auto;
        position: relative;
        margin-top: -20px;
    }

    .titleHome {
        text-align: center;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pawHome {
        display: none;
    }

    .homeBox {
        margin-bottom: 100px;
    }

    .mobile1 {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .mobileTitle {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 15px;
        text-align: center;
        color: rgb(7, 25, 65);
        background:rgba(0,0,0,0.2);
        padding: 5px;
        text-shadow: -1px 0 rgb(252, 252, 252), 0 1px rgb(252, 250, 250), 1px 0 rgb(248, 246, 246), 0 -1px rgb(255, 254, 254);

    }
}

@media (max-width: 360px) {

    .phoneTabletSize {
        font-size: 20px;
    }
  
    .phoneEverywhere {
        position: fixed;
        display: flex;
        background: white;
        font-size: 25px;
        z-index: 99;
        top: 0;
        margin-top: 60px;
        margin-left: 130px;
        margin-right: 15px;
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
      
    }

    .googleRev {
        display: none;
    }

    .logoHome {
        width:30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: -20px;
    }

    .titleHome {
        margin-top: -25px;
        text-align: center;
        font-size: 30px;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pawHome {
        display: none;
    }

    .homeBox {
        margin-bottom: 100px;
    }

    .mobile1 {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .mobileTitle {
        display: flex;
        font-size: 18px;
        width: 100%;
        margin-left: 10%;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 15px;
        text-align: center;
        color: rgb(7, 25, 65);
        text-shadow: -1px 0 rgb(252, 252, 252), 0 1px rgb(252, 250, 250), 1px 0 rgb(248, 246, 246), 0 -1px rgb(255, 254, 254);

    }
}