.servicesTitle {
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.servicesBox {
    color: white;
    background: rgba(49, 49, 82, 0.562);
    margin-bottom: 100px;
    margin-top: 30px;
}

.elsa {
    width: 80%;
    height: auto;
    margin-top: -40px;
    margin-left: 250px;
}

.ginger {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: -160px;
}

.dogAndCatServices {
    background: rgba(34, 34, 112, 0.562);
    padding-bottom: -100px;
    border-radius: 50px;
}

.catPhotoServices {
    width: 90%;
}

.pairs {
    margin-bottom: 30px;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .servicesImg {
        width: 90%;
    }

    .catPhotoServices {
        width: 80%;
    }
}

@media (max-width: 360px) {
    .servicesParag {
        text-align: justify;
        padding-right: 25px;
    }

    .servicesTitles {
        margin-top: 25px;
    }

    .phoneEverywhere {
        position: fixed;
        display: flex;
        background: white;
        font-size: 25px;
        z-index: 99;
        top: 0;
        margin-top: 60px;
        margin-left: 130px;
        margin-right: 15px;
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
      
    }
}    

