#footerText {
	text-align: center;
	font-size: 20px;
}
.page-footer {
	background: rgba(3, 26, 77, 0.952);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}
footer {
	position: relative;
	height: 60px;
	margin-top: -60px;
	clear: both;
}
