#footerText {
	text-align: center;
	font-size: 20px;
}
.page-footer {
	background: rgba(3, 26, 77, 0.952);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}
