#email,
#password {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
}

.signinPage {
	/* margin-top: 30px; */
	min-height: 100vh;
	margin: 0 auto -50px;
	overflow: auto;
	/* padding-bottom: 60px; */
}
